<!DOCTYPE html>
<html lang="hu" ng-app="csokiApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Csoki List</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .in-stock { background-color: green; color: white; }
        .out-of-stock { background-color: red; color: white; }
    </style>
</head>
<body ng-controller="CsokiController">

<div class="container mt-4">
    <h2 class="text-center">Csoki Lista</h2>
    
    <input type="text" class="form-control" ng-model="search" placeholder="Keresés...">
    
    <div class="row mt-4">
        <div class="col-md-4 mb-3" ng-repeat="csoki in csokik | filter:search">
            <div class="card" ng-class="{'in-stock': csoki.raktaron == 1, 'out-of-stock': csoki.raktaron == 0}">
                <div class="card-body">
                    <h5 class="card-title">{{ csoki.nev }}</h5>
                    <p class="card-text">Ára: {{ csoki.ara }} Ft</p>
                    <p class="card-text">Raktáron: {{ csoki.raktaron == 1 ? 'Van raktáron' : 'Nincs raktáron' }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var app = angular.module('csokiApp', []);
    app.controller('CsokiController', function($scope, $http) {
        $http.get('csokik.json').then(function(response) {
            $scope.csokik = response.data;
            console.log(response.data);
        });
    });
</script>
</body>
</html>
